body {
    background-image: url(../img/in-n-out.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

h1 {
    font-family: 'Dosis', sans-serif;
    color: rgb(246, 196, 43);
    font-size: 60px;
    text-align: center;
}

h4 {
    font-family: 'Dosis', sans-serif;
    color: rgb(246, 196, 43);
    font-size: 20px;
    text-align: center;
}

img {
    width: 200px;
    height: 200px;
    padding: 0;
}

ul {
    list-style: none;
    font-family: 'Dosis', sans-serif;
    color: rgb(246, 196, 43);
    font-size: 20px;
    text-align: center;
    padding: 0;
}
